Package: mm8dread
Version: 0.1
Section: misc
Priority: extra
Architecture: i386
Installed-Size: ? kB
Maintainer: Pozsar Zsolt <pozsar.zsolt@szerafingomba.hu>
Depends: libc6, libglib2.0-0, libgtk2.0-0
Description: Status reader program for MM8D device
