[Desktop Entry]
Encoding=UTF-8
Name=MM8DRead
Exec=mm8dread
Icon=mm8dread
Comment=Status reader program for MM8D device
Type=Application
Categories=Application;Network;
Terminal=false
StartupNotify=true

